body{
    margin:0;
    padding:0;
    overflow-y:scroll;
    overflow-x:hidden;
}
.headPicture{
    width: 2vmin;
    height: 2vmin;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    min-width:5px;
    min-height: 5px;
}
.li_margin{
    margin-right: 0.5vw;
    font-size: 2vmin;
}
.li_footer{
    margin-top: 1vh;
    font-size: 2vmin;
}
.input_text_login{
    width: 20vw;
    height: 4vh;
    margin-bottom: 6vh;
    border-radius: 0.5vmin;
    font-size: 1.5vmin;
    padding: 0.5vmin;
}
.input_button_login{
    width: 20vw;
    height: 5vh;
    border-radius: 2px;
    margin-top: 2vh;
    background-color: aqua;
    font-size: 2vmin;
}
