body{
    margin:0;
    padding:0;
    overflow-y:scroll;
    overflow-x:hidden;
}
.li_margin{
    margin-right: 0.5vw;
    font-size: 2vmin;
    text-align: center;
}
.li_footer{
    margin-top: 1vh;
    font-size: 2vmin;
}
.li_account{
    margin-bottom: 2vh;
    font-size: 3vmin;
    text-align: center;
}
.headPicture{
    width: 2vmin;
    height: 2vmin;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    min-width:5px;
    min-height: 5px;
}
.adminInput{
    width: 20vw;
    height: 3vh;
    margin-bottom: 4vh;
}
.adminInputButton{
    width: 20vw;
    height: 4vh;
    margin-top: 3vh;
}